/* import typographie */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
}

/* ------------ LES CLASSES FLEX BOX --------------*/

.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around;
}

.space-evenly {
justify-content:space-evenly;
}

.justify-center {
justify-content:center;
}

.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

/* alignement verticale */

.align-center {
align-items:center;
}

.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}

.gap-24 {
    gap: 24px;
}



/* LES CLASSES DE LARGEUR */

.w-100{
    width: 100%;
}

.w-48 {
    width: 48%;
}

.w-33{
    width: 33%;
}

/* CONTAINER */ 
.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Classes de textes */

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1, h2, h3, .logo {
        font-family: "Andada Pro", serif;
        font-weight: 700;
}




/* HEADER */
  header {
    padding: 30px 0 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* HERO */

.hero 


