@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* ------------------------------
----------- RESET --------------
------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;

}

body {
    background-color: #0B1D26;
}

.bg-red {
    background-color: red;
}


/* ------------------------------
----------- FLEX BOX --------------
------------------------------*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

/* alignement horizontale */
.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* Gap */

.gap-12 {
    gap: 12px;
}

.gap-24 {
    gap: 24px;
}

/* direction */
.flex-column {
    flex-direction: column;
}


/* ------------------------------
----------- LARGEURS --------------
------------------------------*/

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

.w-33 {
    width: 33%;
}

/* ------------------------------
----------- CONTAINER --------------
------------------------------*/
.container-1200 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------
----------- POSITIONS --------------
------------------------------*/
.relative {
    position: relative;
    top: 0;
    left: 0;
}


/* ------------------------------
----------- TEXTES --------------
------------------------------*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2,
a,
a i,
h4 {
    color: #FBD784;
}

header a,
header a i {
    color: white;
}

h1,
h3 {
    font-family: "Andada Pro", serif;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 45px;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 8px;
}

h4 {
    margin-bottom: 20px;
}

.big-number {
    color: rgba(255, 255, 255, 0.434);
    font-size: 150px;
    position: absolute;
    top: -93px;
    left: 0;
}

.trait {
    background-color: #FBD784;
    height: 2px;
    width: 70px;
}

/* ------------------------------
----------- MARGINS & PADDING --------------
------------------------------*/
.mt-100 {
    margin-top: 100px;
}

.pl-80 {
    padding-left: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mt-50{
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px;.
}

/* ------------------------------
----------- HEADER --------------
------------------------------*/

header {
    padding: 40px 40px 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    /* ajotu d'un fond degradé sur le header pour la lisibilité */
    background: #0B1D26;
    background: linear-gradient(0deg, rgba(11, 29, 38, 0) 0%, rgba(11, 29, 38, 1) 100%);
}

/* ------------------------------
----------- SECTION 1 - HERO --------------
------------------------------*/
.section-hero {
    height: 100vh;
    background-image: url(images/banniere.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* SECTION 2 - 01 */
/* pas besoin de css spécifique */


/* SECTION 3 - 02 */
/* pas besoin de css spécifique */

/* SECTION 4 - 03 */
/* pas besoin de css spécifique */

/* FOOTER */
/* pas besoin de css spécifique */