/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------------ LES CLASSES FLEX BOX --------------*/

.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around;
}

.space-evenly {
justify-content:space-evenly;
}

.justify-center {
justify-content:center;
}

.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

/* alignement verticale */

.align-center {
align-items:center;
}

.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}



/* LES CLASSES DE LARGEUR */

.w-100{
    width: 100%;
}

.w-48 {
    width: 48%;
}

.w-33{
    width: 33%;
}